Django>=5.0,<5.2
Pillow>=10.0.0
python-dotenv>=1.0.0
django-cleanup>=8.0.0
requests>=2.31.0
chrome-lens-py>=3.4.0
markdown-it-py>=3.0.0
gunicorn>=21.2.0; sys_platform != 'win32'
django-browser-reload>=1.21.0

